name: Datasets available on HuggingFace
on:
  push:
    branches: [main]
  pull_request:
    paths:
      - "mteb/tasks/**.py"

jobs:
  dataset-loading-check:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
    
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.11'
        cache: 'pip'
    
    - name: Install dependencies
      run: |
        make install-for-tests
    
    - name: Run dataset loading tests
      env:
        HF_TOKEN: ${{ secrets.HF_TOKEN }}
      run: |
        if [ "${{ github.event_name }}" == "pull_request" ]; then
          make dataset-load-test-pr BASE_BRANCH=${{ github.event.pull_request.base.ref }}
        else
          make dataset-load-test
        fi