name: Documentation

on:
  push:
    branches: [main]
  pull_request:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Free disk space
        run: |
          sudo rm -rf \
            "$AGENT_TOOLSDIRECTORY" \
            /opt/ghc \
            /opt/google/chrome \
            /opt/microsoft/msedge \
            /opt/microsoft/powershell \
            /opt/pipx \
            /usr/lib/mono \
            /usr/local/julia* \
            /usr/local/lib/android \
            /usr/local/lib/node_modules \
            /usr/local/share/chromium \
            /usr/local/share/powershell \
            /usr/local/share/powershell \
            /usr/share/dotnet \
            /usr/share/swift
          docker system prune -af

      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.10"

      - name: Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e . --group docs

      - name: Build and Deploy
        if: github.event_name == 'push'
        run: |
          make build-docs-overview
          mkdocs gh-deploy --force

      - name: Build
        if: github.event_name == 'pull_request'
        run: make build-docs
