name: Close stale PRs
on:
  schedule:
    - cron: '30 1 * * *' # runs daily at 1:30 AM
jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      actions: write
      issues: write
      pull-requests: write
    steps:
      - uses: actions/stale@v9.1.0
        with:
          stale-pr-label: 'stale'
          days-before-pr-stale: 14
          days-before-pr-close: 7
          any-of-issue-labels: 'more information needed'
          stale-pr-message: 'This pull request has been automatically marked as stale due to inactivity.'
          close-pr-message: 'This pull request has been automatically closed due to inactivity.'
