# This workflow will:
# 1) install Python dependencies
# 2) run make test

name: Test
on:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest] #, macos-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        include:
          # Add Windows with Python 3.10 only to avoid tests taking too long
          - os: windows-latest
            python-version: "3.10"

    steps:
      - uses: actions/checkout@v6

      - name: Cache Hugging Face
        id: cache-hf
        uses: actions/cache@v4
        with:
          path: ~/.cache/huggingface
          key: ${{ runner.os }}-hf

      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: Install dependencies
        shell: bash
        run: |
          make install-for-tests

      - name: Run tests
        if: runner.os != 'Windows'
        shell: bash
        run: |
          make test

      - name: Run tests on Windows
        # Run tests on Windows
        # this step will run the workflow twice since we have experienced
        # failures when running on windows when loading the datasets
        if: runner.os == 'Windows'
        shell: bash
        run: |
          # run the test once and if it fails, run it again
          # if it fails again, the workflow will fail.
          # If it passes the first time the test will not run again
          make test || make test
